.active-period {
	border: 1px solid $active-period;
	background: $active-period;
	border-radius: 5px;
	color: $white;
}

.active-border {
	border-left: 2px solid $light-green;
}

.active-icon {
	opacity: 1;
}

.hidden {
	visibility: hidden;
}

.show {
	visibility: visible;
}