.user-top-bar {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	width: 100%;
	height: 5%;
	background: $main-violet;
	color: $white;
	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		height: 3%;
	}
}

.app-logo {
	display: block;
	margin-left: 2%;
	font-size: 2em;
}

.user-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-left: 1.6em;
	margin-right: 1em;
	@include tablet {
		width: 40%;
	}
	@include desktop {
		width: 25%;
		margin-right: 0;
	}
}

.user-profile li:nth-child(2) {
	border-left: 1px solid #5d61bf;
	padding-left: 1em;
}

.bell {
	position: relative;
	height: 30px;
}

.dot {
	position: absolute;
	top: -55%;
	left: 30%;
	width: 5px;
	height: 5px;
	border: .3px solid $light-green;
	background: $light-green;
	border-radius: 100%;
}

.bell-icon {
	width: 1.7rem;
	margin-right: 2.5em;
}



.user-picture {
	width: 2rem;
	border-radius: 100%;
	margin-left: 1em;
	margin-right: 1em;
}



