/* Color variables */

$black : #000;
$white : #fff;
$main-violet: #7477bf;
$darker-violet: #4d4c72;
$text-color: #676666;
$grey-border: #dfdfdf;
$active-period: #00ff99;

/* Font variables */

$titillium : "Titillium Web", sans-serif;


/* Mediaqueries */

$tablet : "(min-width: 768px)";
$desktop : "(min-width: 1024px)";